.btns-box {
    -fx-padding: 4px;
    -fx-background-color: rgb(255, 255, 255);
    /*-fx-effect: dropshadow( three-pass-box , rgba(217, 217, 217, 0.89),10,0,0,0);*/
    -fx-border-color: gray;
    -fx-border-width: 1px;
    -fx-font-family: "Source Han Sans CN";
    -fx-font-size: 14px;
}
.region-btn {
    -fx-background-color: #E8E8E8;
    -fx-font-family: "Source Han Sans CN";
    -fx-font-size: 14px;
}

.region-btn Region {
    -fx-min-width: 18px;
    -fx-min-height: 18px;
    -fx-pref-width: 18px;
    -fx-pref-height: 18px;
    -fx-max-width: 18px;
    -fx-max-height: 18px;
    -fx-background-color: black;
}

.region-btn:hover {
    -fx-background-color: #c7c7c7;
}

.region-btn:pressed {
    -fx-background-color: #888888;
    -fx-text-fill: white;
}

.region-btn:pressed Region {
    -fx-background-color: white;
}
.copy-btn Region {
    -fx-shape: "M22.5,6h-17C4.1,6,3,7.1,3,8.5v19C3,28.9,4.1,30,5.5,30h17c1.4,0,2.5-1.1,2.5-2.5v-19C25,7.1,23.9,6,22.5,6z M23,27.5  c0,0.3-0.2,0.5-0.5,0.5h-17C5.2,28,5,27.8,5,27.5v-19C5,8.2,5.2,8,5.5,8h17C22.8,8,23,8.2,23,8.5V27.5zM26.5,2h-17c-0.6,0-1,0.4-1,1s0.4,1,1,1h17C26.8,4,27,4.2,27,4.5v19c0,0.6,0.4,1,1,1s1-0.4,1-1v-19C29,3.1,27.9,2,26.5,2zM19,11.3H9c-0.6,0-1,0.4-1,1s0.4,1,1,1h10c0.6,0,1-0.4,1-1S19.6,11.3,19,11.3z M19,16.3H9c-0.6,0-1,0.4-1,1s0.4,1,1,1h10  c0.6,0,1-0.4,1-1S19.6,16.3,19,16.3z M15,21.2H9c-0.6,0-1,0.4-1,1s0.4,1,1,1h6c0.6,0,1-0.4,1-1S15.6,21.2,15,21.2z";
}
.save-btn  Region {
    -fx-shape: "M32,32H0V3.3h9.9v2.4H2.5v23.9h27.1V5.7h-7.3V3.3H32V32zM16,23.2l-7-6.8l1.7-1.7l5.2,5.1l5.2-5.1l1.7,1.7L16,23.2zM14.8,20.3V0h2.5v20.3H14.8z";
}
.size-label {
    -fx-background-color: white;
}
.size-label Region {
    -fx-shape: "M29.5,2.5h-4.9V0h6.2C31.4,0,32,0.6,32,1.2v6.2h-2.5V2.5z M29.5,24.6H32v6.2c0,0.7-0.6,1.2-1.2,1.2h-6.2v-2.5  h4.9V24.6z M7.4,29.5V32H1.2C0.6,32,0,31.4,0,30.8v-6.2h2.5v4.9C2.5,29.5,7.4,29.5,7.4,29.5z M2.5,2.5v4.9H0V1.2C0,0.6,0.6,0,1.2,0  h6.3v2.5H2.5z M12.3,0h7.4v2.5h-7.4V0z M12.3,29.5h7.4V32h-7.4V29.5z M0,12.3h2.5v7.4H0C0,19.7,0,12.3,0,12.3z M29.5,12.3H32v7.4  h-2.5C29.5,19.7,29.5,12.3,29.5,12.3z";
    -fx-background-color:black ;
}
.exit-btn Region{
    -fx-shape: "M31.5,29.3L18.3,16.1L31.5,2.9c0.6-0.6,0.6-1.7,0-2.3c-0.6-0.6-1.7-0.6-2.3,0L16,13.8L2.8,0.5c-0.6-0.6-1.7-0.6-2.3,0  s-0.6,1.7,0,2.3l13.2,13.2L0.5,29.3c-0.6,0.6-0.6,1.7,0,2.3c0.6,0.6,1.7,0.6,2.3,0L16,18.4l13.2,13.2c0.6,0.6,1.7,0.6,2.3,0  C32.2,31,32.2,29.9,31.5,29.3L31.5,29.3z";
    -fx-background-color: #e83333;
}
.preview-pane {
    -fx-background-color: black;
    -fx-border-color: rgb(125, 255, 115);
    -fx-border-width: 1px;
}
.preview-pane Line {
    -fx-stroke: rgb(125, 255, 115);
}
.tips-label {
    -fx-font-size: 14px;
    -fx-padding: 8px;
    -fx-background-color: white;
    -fx-border-color: gray;
}
.tips-label Region {
    -fx-shape: "M5,12h6v1H5V12zM5.5,14h5l0,0c0,0.6-0.4,1-1,1h-3C5.9,15,5.5,14.6,5.5,14zM13,5.2c0,4-2,3.8-2,5.8H5c0-2-2-1.8-2-5.8C3,3,5.2,1,8,1C10.8,1,13,3,13,5.2z";
    -fx-background-color: #eba331;
}
